In [1]:
import pandas as pd
import json
import geopandas as gpd

In [3]:
county = gpd.read_file('county.json')

In [4]:
county.head()

,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
0,19,107,00465242,0500000US19107,19107,Keokuk,06,1500067253,1929323,"POLYGON ((-92.41199499999999 41.509548, -92.35..."
1,19,189,00465283,0500000US19189,19189,Winnebago,06,1037261946,3182052,"POLYGON ((-93.6485330413135 43.4995586947376, ..."
2,20,093,00485011,0500000US20093,20093,Kearny,06,2254696689,1133601,"POLYGON ((-101.542312 38.263207, -101.442485 3..."
3,20,123,00485026,0500000US20123,20123,Mitchell,06,1817632928,44979981,"POLYGON ((-98.48738399999999 39.567492, -98.48..."
4,20,187,00485055,0500000US20187,20187,Stanton,06,1762104518,178555,"POLYGON ((-102.041585 37.644282, -102.041582 3..."

In [5]:
maindata = pd.read_csv('newmaindata.csv')

In [6]:
maindata.head()

,STATE,COUNTY,STNAME,VOLOVERALLFEMALE1112ALL,VOLOVERALLFEMALE1112AA,VOLOVERALLFEMALE1112HISP,VOLOVERALLFEMALE1112OTHER,VOLOVERALLMALE1112ALL,VOLOVERALLMALE1112AA,VOLOVERALLMALE1112HISP,...,NORMLOWINCOMEBOTH1826HISP,NORMLOWINCOMEBOTH1826OTHER,NORMLOWINSUREDBOTH1112ALL,NORMLOWINSUREDBOTH1112AA,NORMLOWINSUREDBOTH1112HISP,NORMLOWINSUREDBOTH1112OTHER,NORMLOWINSUREDBOTH1826ALL,NORMLOWINSUREDBOTH1826AA,NORMLOWINSUREDBOTH1826HISP,NORMLOWINSUREDBOTH1826OTHER
0,1,1,Alabama,426,80,13,18,432,86,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,3,Alabama,1224,141,71,62,1265,144,72,...,0.002523,0.023523,0.01597,0.037964,0.00056,0.053235,0.016431,0.010964,0.00381,0.052489
2,1,5,Alabama,157,88,8,3,167,90,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,7,Alabama,131,24,3,2,152,31,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,9,Alabama,397,7,51,13,415,7,53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
county.STATEFP = pd.Series(county.STATEFP, dtype = 'float64')
county.COUNTYFP = pd.Series(county.COUNTYFP, dtype = 'float64')

In [8]:
subdata = pd.read_csv('newsubdata.csv')

In [9]:
subdata.head()

,STATE,COUNTY,VOLNODRSCOREMALE1112,VOLNODRSCOREFEMALE1112,VOLNODRSCOREMALE1826,VOLNODRSCOREFEMALE1826,VOLDRSCOREMALE1112,VOLDRSCOREFEMALE1112,VOLDRSCOREMALE1826,VOLDRSCOREFEMALE1826,...,NORMDRSCOREMALE1826,NORMDRSCOREFEMALE1826,VOLNODRSCOREBOTH1112,VOLNODRSCOREBOTH1826,VOLDRSCOREBOTH1112,VOLDRSCOREBOTH1826,NORMNODRSCOREBOTH1112,NORMNODRSCOREBOTH1826,NORMDRSCOREBOTH1112,NORMDRSCOREBOTH1826
0,1,1,916.755181,929.538620,759.701505,744.178758,0.133872,0.135739,0.110938,0.108671,...,0.011582831,0.011668593,923.1469009,751.9401314,0.13480533,0.109804342,0.008507266,0.005758807,0.013945686,0.011625712
1,1,3,2899.651985,2886.038595,2471.928066,2404.739402,0.423430,0.421443,0.360971,0.351159,...,0.037688389,0.037708702,2892.84529,2438.333734,0.42243652,0.35606509,0.026687499,0.018677009,0.043706509,0.037698545
2,1,5,343.826697,350.533330,440.402207,303.586902,0.050208,0.051188,0.064311,0.044332,...,0.006714617,0.004759444,347.1800136,371.9945541,0.050698016,0.054321635,0.003189898,0.002841235,0.005241901,0.005737031
3,1,7,323.489486,275.428191,365.080991,273.579679,0.047239,0.040220,0.053312,0.039950,...,0.005566228,0.004288886,299.4588382,319.3303352,0.043729386,0.046631182,0.002744541,0.002440146,0.004515602,0.004927557
4,1,9,803.884602,844.965311,723.885328,673.291192,0.117390,0.123389,0.105708,0.098319,...,0.011036758,0.010556968,824.4249567,698.5882599,0.120389158,0.102013473,0.007598449,0.00534816,0.012456626,0.010796863

In [12]:
newdata = pd.merge(county, maindata, how = 'left', left_on = ['STATEFP', 'COUNTYFP'], right_on=['STATE','COUNTY'])
newdata = pd.merge(newdata, subdata, how = 'left', left_on = ['STATEFP', 'COUNTYFP'], right_on=['STATE','COUNTY'])

In [15]:
newdata.to_file('countymerged.json', driver = 'GeoJSON')

DriverIOError: GeoJSON driver doesn't support creating a layer on a read-only datasource